:root{
    --color-1: #ff7948;
    --color-2: #000000;
    --color-3: #5b5e66;
    --color-4: #efefef;
    --color-5: #ffffff;
    --color-6: #23232e;
    font-family: 'Open Sans';
    --transition-speed:600ms;
}
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    background-color: var(--color-5);
    color: #000000;
}
main{
    margin-left: 6rem;
    padding: 1rem;
}
.user-profile{
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -900px;
    transition: width var(--transition-speed) ease;
    
}
.user-pic{
    margin: 1rem 2rem 0 2rem;
    z-index: 20;
}
.user-pic img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.user-tittle{
    background-color: var(--color-1) ;
    padding: auto;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: fixed;
    margin-top: 6.2rem;
    z-index: 10;
    border-radius: 15px;
}
.user-tittle h3{
    font-weight: 600;
    color: var(--color-4);
    font-size: 0.8rem;
}
nav{
    position: fixed;
    background-color: var(--color-6);
    width: 6rem;
    height: 100vh;
    transition: width var(--transition-speed) ease;
}

.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    width: 100%;
    filter: grayscale(100%) opacity(0.7);
    padding: 2rem 0;
    display: flex;
    transition: var(--transition-speed);
    cursor: pointer;
}
.nav-item-tittle{
    display: none;
    margin-left: 2rem;
    color: var(--color-4);
}
.nav-item i{
    min-width: 2rem;
    margin: 0 2rem;
    color: var(--color-1) ;
    font-size: 1.8rem;
    text-align: center;
    box-sizing: border-box;
}
.nav-item:hover{
    filter: grayscale(0) opacity(1);
    background-color: var(--color-2);
}

nav:hover{
    width: 16rem;
}
nav:hover .nav-item-tittle{
    display: inline;
}
nav:hover .user-profile{
    left: 0px;
    
}
/*Active Nav*/
.active {
    background-color: var(--color-2);
    color: var(--color-4);
    filter: grayscale(0) opacity(1);
}
/*Logo*/

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
 
}
.fa-primary, .fa-secondary{
    color: var(--color-1);
}
.nav-logo-item{
    font-weight: bold;
    width: 100%;
    text-align: center;
    
}
.logo-text{
    display: inline;
    position: absolute;
    left: -900px;
    font-size: 2rem;
    color: var(--color-3);
    transition: width var(--transition-speed);
}
.nav-link{
    top: 0;
    display: flex;
    align-items: center;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    height: 6rem;
}
.nav-link svg{
    min-width: 3rem;
    margin: 0 1.5rem;
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

nav:hover .logo-text{
    left: 2rem;
}
nav:hover .nav-link svg{
    margin-left: 11.5rem;
    transform: rotate(-180deg);
}
.nav-logo:hover .logo-text{
    color: var(--color-5);
}
nav:hover .nav-link{
    filter: grayscale(0) opacity(1);
}
.nav-logo:hover{
    background-color: var(--color-2);
}




/*
.logo{
    display: inline-flex;
    align-items: center;
    height: 6rem;
    text-decoration: none;
    position: relative;
}
.logo svg{
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
.nav-logo{
    color: var(--color-1);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.fa-primary{
    color: var(--color-1);
}
.fa-secondary{
    color:var(--color-3);
}
.fa-primary,.fa-secondary{
    transition: var(--transition-speed);
}
.nav-logo svg g{
    min-width: 2rem;
    margin: 0 2rem;

}
.logo-text{
    
}
nav:hover .logo svg{
    transform: rotate(-180deg);
}
nav:hover .nav-logo{
    filter: grayscale(0) opacity(1);
}
